<div class="row" style="padding-left:10px">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="separator-sm"></div>
    <div id="poll-question">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 center" style="font-size: 40px"><span><%= poll.question %></span></div>
        <div class="col-md-1"></div>
      </div>
      <div class="separator-md"></div>
      
      <div class="row" style="padding-left:10px">
        <div class="col-md-12">
          <div id="results_chart" class="ct-chart"></div>
        </div>
      </div>

      <div class="separator-md"></div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 big-line"><a href="poll_class.html"><div class="btn btn-inverse big-btn fit">New poll</div></a></div>
        <div class="col-md-6 big-line"><a href="course_page.html"><div class="btn btn-inverse big-btn fit">Return to question feed</div></a></div>
        <div class="col-md-1"></div>
      </div>
      <div class="separator-md"></div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>