<div id="poll-modal" class="modal fade" role="dialog" style="overflow-y: hidden !important">
  <div class="modal-dialog fit">
    <div class="modal-content" style="background-color:#4d4c4c; opacity:0.8;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title center" style="border:none;">Poll</h4>
      </div>
      <div class="modal-body">
       <div class="row" style="padding-left:10px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
         <div class="separator-md"></div>
         <div id="poll-question">
           <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-10 big-text center"><span>What is your favorite fruit?</span></div>
             <div class="col-md-1"></div>
           </div>
           <div class="separator-lg"></div>
           <div class="row">
            <div class="col-md-4"><div class="btn btn-inverse fit response-button">Apple</div></div>
            <div class="col-md-4"><div class="btn btn-inverse fit response-button">Orange</div></div>
            <div class="col-md-4"><div class="btn btn-inverse fit response-button">Banana</div></div>
          </div>
        </div>
        <div id="poll-answer" style="display:none;">
         <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 big-text center"><span>What is your favorite fruit?</span></div>
          <div class="col-md-1"></div>
        </div>
        <div class="separator-md"></div>
        <div class="row">
          <div class="col-md-12 center">
            <div id="results_chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>