<div id="heading-2">
  <div class="row">
    <div class="col-md-4 big-btn">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
          <a href=<%= href %>><div class="btn btn-inverse fit pull-right" style="font-size: 30px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; opacity: 0.5"><i class="<%=icon%>"></i> <%= button_text %></div></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <span class="center" style="cursor:default">
        <h1 style="font-size:48px;"><%= course %></h1>
      </span>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>