<div class="question row">
  <div class="col-md-9" style="padding-left:50px">
    <div class="row">
      <div class="col-md-1">
        <div class="row"><div class="col-md-12 arrow"><i class="icon-thumbs-up icon-large white arrow"></i><span> <%= upvote_count %></span></div></div>
        <div class="row"><div class="col-md-12 arrow"><i class="icon-thumbs-down icon-large white arrow"></i><span> <%= downvote_count %></span></div></div>
      </div>
      <div class="col-md-11" style="padding-top: 10px"><span class="big-text"><%= question %></span></div>
    </div>
  </div>
  <div class="col-md-1" style="padding-top:5px"><div class="btn btn-success">in class</div></div>
  <div class="col-md-1" style="padding-top:5px"><div class="btn btn-primary">after class</div></div>
  <div class="col-md-1" style="padding-top:5px; padding-left:40px"><i class="icon-trash icon-2x" style="color:#800000;"></i></div>
</div>

<div class="question-separator separator-sm"></div>