<div class="question row">
	<div class="col-md-11" style="padding-left:30px">
		<div class="row">
			<div class="col-md-10">
				<span class="big-text"><%= question %></span>
			</div>
			<div class="col-md-1 center arrow"><i class="icon-thumbs-up icon-large white"></i></div>
			<div class="col-md-1 center arrow"><i class="icon-thumbs-down icon-large white"></i></div>
		</div>
		<div class="row">
			<div class="col-md-10 arrow" style="padding-left: 40px">
				<span>Status: <%= status %></span>
			</div>
			<div class="col-md-1 center arrow">
				<span><%= upvote_count %></span>
			</div>
			<div class="col-md-1 center arrow">
				<span><%= downvote_count %></span>
			</div>
		</div>
	</div>
	<div class="col-md-1 center" style="padding-top:5px">
		<i class="icon-flag icon-2x" style="color:#800000;"></i>
	</div>
</div>

<div class="separator-md"></div>