<div class="row"><div class="col-md-12"><h1 class="center"> <%= msg.html_safe %> </h1></div></div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<a href=<%= href %>><div class="btn btn-inverse fit pull-right" style="font-size: 30px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; opacity: 0.5"><i class="icon-arrow-left"></i> Back</div></a>
	</div>
	<div class="col-md-4"></div>
</div>