<div id="classes">
  <div class="row"><div class="col-md-12"><span>Classes</span></div></div>
  <div class="separator-sm"></div>

  <div id="class-list" class="row">
    <div class="col-md-2 big-line"><a href="course_page.html"><div class="btn btn-inverse fit big-btn">CHEM 110</div></a></div>
    <div class="col-md-2 big-line"><a href="course_page.html"><div class="btn btn-inverse fit big-btn">ECSE 424</div></a></div>
    <div class="col-md-2 big-line"><a href="course_page.html"><div class="btn btn-inverse fit big-btn">ECSE 526</div></a></div>
  </div>
</div>

<div class="separator-lg"></div>
<div class="separator-lg"></div>

<div id="new-class">
  <div class="row"><div class="col-md-12"><span>Add class</span></div></div>
  <div class="separator-sm"></div>

  <div class="row">
    <div class="col-md-12 big-line"><input id="new-course-code" type="textarea" placeholder="Enter course code (e.g., ECSE 424)"/></div>
  </div>

  <div class="separator-md"></div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 big-line"><a id="new-class-link" href="course_page.html"><div class="btn btn-inverse fit big-btn">Create new class</div></a></div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="separator-md"></div>